Faker==37.3.0
matplotlib==3.10.3
litellm==1.70.4
fastapi==0.115.12
numpy==2.2.6
pandas==2.2.3
scipy==1.15.3
python-socketio==5.11.2
python-dotenv==1.0.1
requests==2.32.3
ffmpeg-python==0.2.0
python-multipart==0.0.9
sounddevice==0.5.2
faster-whisper==1.1.1
silero_vad==5.1.2
uvicorn==0.34.3
websockets==12.0
elevenlabs==0.2.26
pydub
soundfile